@import url('https://fonts.googleapis.com/css?family=Mirza');
body{
  background: url("../images/BG_wood2.jpg");
  background-repeat: repeat;
}
.container{
  max-width: 960px;
  margin: 0 auto;
  font-family: 'Mirza', cursive;
  box-sizing: border-box;
}
.welcome{
  margin-top: 50px;
  text-align: center;
}
input{
  cursor: pointer;
  background-color: #4d2400;
  font-size: 18px;
  font-weight: bold;
  color: #ffe9d0;
  border-radius: 1em;
}
.keys{
  width: 60px;
}
.player{
  width: 80%;
  text-align: center;
  margin: 0 auto;
  font-weight: bold;
  font-size: 1.5em;
  display: none;
}
#draw{
  padding-top: 50px;
}
.game-board{
  display: none;
  margin-top: 2em;
  text-align: center;
  width: 308px;
  margin: 0 auto;
  color: #ffe9d0;
  font-size: 32px;
}
.game-keys{
  float: left;
  background-color: #7e490c;
  width: 100px;
  height: 100px;
  color: #ffe9d0;
  font-size: 70px;
  border: 1px solid #ffe9d0;
  overflow: hidden;
  line-height: 120px;
}
.game-over{
  display: none;
  text-align: center;
}
.new-or-quit{
  display: none;
  margin-top: 10px;
  text-align: center;
}
.clear{
  clear: both;
}

.left, .right{
  width: 18%;
}

.middle{
  width: 60%;
}

.column{
  display: inline-block;
  vertical-align: top;
}

.title{
  height: 290px;
}
